<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stonevire.wallup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/vector_drawable_wallup_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashScreen"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="Wallup"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ImagePreviewActivity"
            android:label="@string/title_activity_image_preview"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen" />

        <service
            android:name=".services.LiveImagesService"
            android:enabled="true"
            android:label="Wallup Images"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>

        <activity
            android:name=".activities.LiveImagesActivity"
            android:label="Live Images" />
        <activity
            android:name=".utils.Permissions"
            android:theme="@style/AppTheme.Translucent" />
        <activity
            android:name=".activities.CollectionsActivity"
            android:label="@string/title_activity_collections"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity android:name=".Redirect">
            <intent-filter>
                <data
                    android:host="dpulse"
                    android:scheme="wallup" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>